[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "hypodermic"]
	path = deps/hypodermic
	url = https://github.com/karolherbst/hypodermic.git
[submodule "sauce"]
	path = deps/sauce
	url = https://github.com/phs/sauce.git
[submodule "wallaroo"]
	path = deps/wallaroo
	url = https://code.google.com/p/wallaroo/
[submodule "PocoCapsule"]
	path = deps/PocoCapsule
	url = https://github.com/shdwshard/PocoCapsule.git
[submodule "googlemock"]
	path = deps/googlemock
	url = https://github.com/ericsubach/googlemock.git
[submodule "picojson"]
	path = deps/picojson
	url = https://github.com/kazuho/picojson.git
